*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: hsl(0, 0%, 100%);
  display: inline-block;
  text-decoration: none;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

.cta-button {
  padding: 0.5rem 2rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background-color: hsl(322, 100%, 66%);
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: hsla(322, 100%, 66%, 0.7);
}
@media (min-width: 768px) {
  .cta-button {
    padding: 1rem 2.5rem;
    border-radius: 999px;
  }
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-hero {
  padding-inline: 1.5rem;
  background: hsl(193, 100%, 96%) url(/images/bg-hero-mobile.svg) center/cover no-repeat;
}
@media (min-width: 768px) {
  .header-hero {
    padding-inline: 5rem;
    background: hsl(193, 100%, 96%) url(/images/bg-hero-desktop.svg) center/cover no-repeat;
  }
}
.header-hero .header {
  padding-block: 2rem;
}
@media (min-width: 768px) {
  .header-hero .header {
    padding-block: 3rem 0;
  }
}
.header-hero .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-hero .header__logo {
  width: 8rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-hero .header__logo {
    width: 12.375rem;
  }
}
.header-hero .header__cta {
  padding: 0.5rem 1.25rem;
  white-space: nowrap;
  min-width: 100px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 999px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(192, 100%, 9%);
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.15);
  transition: 0.3s ease;
}
.header-hero .header__cta:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(322, 100%, 66%);
  transform: translateY(5px);
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.25);
}
@media (min-width: 768px) {
  .header-hero .header__cta {
    padding: 1rem 3.5rem;
    font-size: 0.875rem;
  }
}
.header-hero .hero {
  margin-top: 3rem;
}
.header-hero .hero h1 {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
}
.header-hero .hero * + * {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .header-hero .hero {
    margin: 0;
    padding-block: 4.125rem 3.875rem;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .header-hero .hero > * {
    flex-basis: 50%;
  }
  .header-hero .hero img {
    max-width: 60%;
    margin: 0;
  }
  .header-hero .hero h1 {
    font-weight: 700;
  }
  .header-hero .hero p {
    margin-block: 1.875rem;
    font-size: clamp(1rem, 2vw, 1.125rem);
  }
  .header-hero .hero .cta-button {
    margin-top: 0;
  }
}

.features {
  margin-top: 4.5rem;
  padding-inline: 1.5rem;
}
.features h2 {
  margin-block: 3rem 1.5rem;
  font-size: 1.25rem;
}
.features p {
  color: hsl(208, 11%, 55%);
}
.features .feature {
  margin-top: 2.5rem;
  padding: 2.5rem;
  font-size: 0.85rem;
  border-radius: 0.8rem;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.15);
}
@media (min-width: 768px) {
  .features {
    margin-block: 10rem;
    padding-inline: 3.5rem;
  }
  .features .feature {
    padding-block: 3.25rem;
    padding-left: 4rem;
    gap: 2.5rem;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .features .feature > * {
    flex-basis: 50%;
  }
  .features .feature img {
    max-width: 50%;
  }
  .features .feature:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .features .feature h2 {
    margin: 0;
    font-size: 1.75rem;
  }
  .features .feature p {
    font-size: 1.125rem;
  }
}

.cta-container {
  padding-inline: 1.5rem;
}
.cta-container .cta {
  margin-block: 7rem -5rem;
  padding: 3rem 0.5rem;
  position: relative;
  z-index: 2;
  border-radius: 0.8rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.15);
}
.cta-container .cta h2 {
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .cta-container {
    margin-inline: auto;
    max-width: 50rem;
  }
  .cta-container .cta {
    margin-block: 0 -5rem;
    padding: 3.625rem 8.25rem;
  }
  .cta-container .cta h2 {
    font-size: 1.8rem;
  }
  .cta-container .cta p {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
  }
}

.footer {
  padding-block: 10rem 5rem;
  padding-inline: 1.5rem;
  text-align: left;
  color: hsl(193, 100%, 96%);
  background-color: hsl(192, 100%, 9%);
}
@media (min-width: 768px) {
  .footer {
    padding-inline: 7.5rem;
  }
}
@media (min-width: 768px) {
  .footer__content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 3rem;
  }
  .footer__content > * {
    flex: 1;
  }
}
.footer__logo {
  width: 13rem;
}
@media (min-width: 768px) {
  .footer__logo {
    width: 15rem;
  }
}
.footer__contact-info {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__contact-info img {
  width: 1.2rem;
  margin-top: 0.3rem;
}
.footer__links {
  margin-top: 3rem;
}
.footer__links a:hover {
  text-decoration: underline;
}
.footer__links * + * {
  margin-top: 0.8rem;
}
@media (min-width: 768px) {
  .footer__links {
    margin-top: 0;
  }
}
.footer__socials {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__socials > * {
  width: 35px;
  height: 35px;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1rem;
  border: 1.5px solid hsl(193, 100%, 96%);
  border-radius: 100%;
  transition: 0.3s ease;
}
.footer__socials > *:hover {
  color: hsl(322, 100%, 66%);
}
@media (min-width: 768px) {
  .footer__socials {
    margin-top: 0;
  }
}
.footer__copyright {
  margin-top: 1.1rem;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__copyright {
    text-align: right;
  }
}

/*# sourceMappingURL=style.css.map */
