@use "../base/variables" as *;
@use "../base/global" as *; 

.cta-container {
    padding-inline: $spacing-sm;

    .cta {
        margin-block: 7rem -5rem;
        padding: 3rem 0.5rem;
        position: relative;
        z-index: 2;
        border-radius: 0.8rem;
        background-color: $white;
        box-shadow: 0 5px 15px hsl(0, 0%, 0%, 15%);
    
        h2 {
            font-size: 1.15rem;
            margin-bottom: 1.5rem;
        }
    }

    @include respond(tablet) {
        margin-inline: auto;
        max-width: 50rem;

        .cta {
            margin-block: 0 -5rem;
            padding: 3.625rem 8.25rem ;

            h2 { font-size: 1.8rem;}

            p {font-size: clamp(1rem, 1.5vw, 1.125rem);;}
        }
    }

}