//colors
$primary-color: hsl(322, 100%, 66%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$white: hsl(0, 0%, 100%);

//typpgraphy
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Open Sans", sans-serif;
$font-size-heading: 2rem;
$font-size-body: 1.125rem;
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//spacing
$container-width: 100%;
$spacing-sm: 1.5rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xlg: 4.5rem;